{{ define "main" }}

<main class="index-html">
	<div class="catalogue">
		{{ $aboutTitle := "Abouts" }}
			{{ range .Pages.ByDate }}
				{{if not (eq .Title $aboutTitle) }}
					{{ .Render "summary" }}
				{{end}}
			{{ end }}
		</div>
	</div>
</main>

{{ end }}
