<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "ru" }}">
{{ partial "head.html" . }}
{{ $aboutTitle := "about" }}
{{if (eq .Title $aboutTitle) }}
{{ $bg := .Site.Data.Settings.primary_color}}
{{ $textColor := .Site.Data.Settings.text_color}}

<body style="background-color: {{ $bg }}; color: {{ $textColor }};">
    {{ partial "header.html" . }}
    {{ block "main" . }}{{ end }}
</body>
{{ else }}

<body>
    {{ partial "header.html" . }}
    {{ block "main" . }}{{ end }}
</body>
{{ end }}

</html>