{{ define "main" }}

<main class="single-html">
	<div class="post">
		{{ partial "single/hero.html" . }}
		<div class="post__all-info">
			{{ partial "single/title.html" . }}
			{{ partial "single/post-info.html" . }}
		</div>
		<div class="post__body">{{ .Content }}</div>
		<div class="post__footer pagination">
			{{- if .PrevPage }}
			<a class="left arrow" href="{{ .PrevPage.RelPermalink }}">
				<svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 26 26" enableBackground="new 0 0 26 26">
					<path d="M23.021,12.294l-8.714-8.715l-1.414,1.414l7.007,7.008H2.687v2h17.213l-7.007,7.006l1.414,1.414l8.714-8.713  C23.411,13.317,23.411,12.685,23.021,12.294z" />
				</svg>
			</a>
			{{- end }}
			{{- if .NextPage }}
			<a class="right arrow" href="{{ .NextPage.RelPermalink }}">
				<svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 26 26" enableBackground="new 0 0 26 26">
					<path d="M23.021,12.294l-8.714-8.715l-1.414,1.414l7.007,7.008H2.687v2h17.213l-7.007,7.006l1.414,1.414l8.714-8.713  C23.411,13.317,23.411,12.685,23.021,12.294z" />
				</svg>
			</a>
			{{- end }}
		</div>
	</div>
</main>

{{ end }}