{{ define "main" }}

<main class="taxonomy-html">
    <h1>{{ strings.FirstUpper .Data.Singular }} {{ .Title }}</h1>
	<div class="catalogue">
		{{ range (.Paginate .Pages).Pages }}
			{{ .Render "summary" }}
		{{ end }}
	</div>

	<div class="pagination">
		{{ if .Paginator.HasPrev }}
			<a href="{{ .Paginator.Prev.URL }}" class="left arrow">&#8592;</a>
		{{ end }}
		{{ if .Paginator.HasNext }}
			<a href="{{ .Paginator.Next.URL }}" class="right arrow">&#8594;</a>
		{{ end }}

		<span>{{ .Paginator.PageNumber }}</span>
	</div>
</main>

{{ end }}
