<nav class="nav">
	<div class="nav-container">
		<a href="{{ "/" | relURL }}" class="{{.Title}}">
			{{ partial "svgs/zuboskal.svg" }}
			<!-- <h1 class="nav-title">{{ .Site.Title }}</h1> -->
		</a>
		{{ partial "header-menu.html" . }}
	</div>
</nav>