<!-- <ul> -->
{{ $aboutTitle := "about" }}
{{if (eq .Title $aboutTitle) }}
<h2 class="home"><a href="{{ "/" | relURL }}">критике не&nbsp;подлежит</a></h2>
{{ else }}
<a href="{{ "about/info" | relURL }}" class="info">
    <p class="union">союз беспечальных коптителей салтыковского&nbsp;неба</p>
    {{ partial "svgs/single-letter.svg" }}
</a>
{{end}}
<!-- </ul> -->