@font-face {
  font-family: 'iA Writer Duo';
  font-weight: 1 999;
  src: url(/fonts/iAWriterDuoV.ttf);
}

* {
  @include box-sizing;
  line-height: 1.5;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'iA Writer Duo', 'Work Sans', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  color: $default-color;
}

body {
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'iA Writer Duo', 'Work Sans', 'Helvetica Neue', Helvetica, sans-serif;
}

h1,
h2 {
  font-weight: 500;
}

h1 {
  font-size: 2rem;
  letter-spacing: -1px;
  line-height: 1.1875;
}

h2 {
  font-size: 1.7rem;
  letter-spacing: -0.75px;
  line-height: 1.2;
}

h3 {
  font-size: 1.2rem;
  letter-spacing: -0.5px;
  line-height: 1.1875;
  color: #a0a0a0;
  font-weight: normal;
}

p {
  font-size: 1.2rem;
  letter-spacing: -0.5px;
  line-height: 1.5;
  color: #464646;
}

@media (min-width: 1280px) {
  h1 {
    font-size: 2rem;
    letter-spacing: -1px;
    line-height: 1.1875;
  }

  h2 {
    font-size: 1.5rem;
    letter-spacing: -0.75px;
    line-height: 1.1667;
  }

  h3 {
    letter-spacing: -0.5px;
    line-height: 1.1875;
    color: #a0a0a0;
    font-weight: normal;
  }

  p {
    line-height: 1.4375;
  }
}

a {
  text-decoration: none;
  color: inherit;
  opacity: 1;
  transition: opacity 0.2s ease;
}

a:hover {
  opacity: 0.5;
  transition: opacity 0.2s ease;
  text-decoration-color: inherit;
}

ul {
  list-style: none;
  margin: 0;
}

.about .zuboskal path {
  fill: #fff;
}
