.info__post {
  padding: 0;
  max-width: 800px;
  h2 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  ul {
    li h2 {
      a {
        line-height: 0;
      }
    }
  }

  .content {
    padding: 1.5rem 1.25rem;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: 768px) {
      & {
        padding: 2rem;
      }
    }

    @media (min-width: 768px) {
      & {
        padding: 3rem;
      }
    }
  }
}

// @media (min-width: 1440px) {
//   .info__post {
//     padding: 3rem;
//   }
// }
