.container {
  margin: 0 auto;
  max-width: 900px;
  width: 80%;
}

.nav {
  border-bottom: 1px solid $white-2;
  padding: 1.5rem 1.25rem;
  h1 {
    margin-bottom: 0;
  }

  &-container {
    display: flex;
    justify-content: space-between;
    @media (max-width: 400px) {
      align-items: baseline;
    }

    align-items: center;

    a {
      display: block;
      box-sizing: border-box;
      @media (max-width: 400px) {
        height: 10vw;
      }
    }

    h2.home {
      @media (max-width: 767px) {
        font-size: 0.8rem;
      }
      a {
        font-size: 1.4rem;
        margin-bottom: 0;
        display: block;
        line-height: 1.2;
      }
      margin-bottom: 1rem;
    }

    .info {
      display: flex;
      justify-content: end;
      @media (max-width: 767px) {
        flex: 0 1 30%;
        padding-left: 2em;
        text-align: right;
      }
      .union {
        line-height: 1;
        @media (max-width: 767px) {
          font-size: 0.8rem;
        }
        font-size: 1rem;
        margin: 0;
        @media (max-width: 400px) {
          display: none;
        }
      }
    }
    svg {
      display: block;
      height: 100%;
      width: auto;

      &.z {
        @media (min-width: 401px) {
          display: none;
        }
      }

      // @media (max-width: 767px) {
      // }
    }
  }

  &-title {
    margin: 0;
  }
  // li {
  //   font-size: 1.5rem;
  //   font-weight: 500;
  //   margin-bottom: 0;
  // }
}

@media (min-width: 768px) {
  .nav {
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding: 2rem 2rem 3rem 2rem;
    width: 30%;
    border-right: 1px solid $white-2;
    border-bottom: none;
    flex-direction: column;
    align-items: flex-start;
    &-container {
      height: 100%;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  main {
    width: 70%;
    margin-left: 30%;
  }
}
