.pagination {
  padding: 2rem;
  position: relative;
  text-align: center;

  span {
    color: $default-shade;
    font-size: 1.1rem;
  }

  .top {
    @include transition(all 0.3s ease-out);
    color: $default-color;
    font-family: $sans-serif;
    font-size: 1.1rem;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }

  .arrow {
    @include transition(all 0.3s ease-out);
    color: $default-color;
    position: absolute;

    &:hover,
    &:focus {
      opacity: 0.6;
      text-decoration: none;
    }
  }

  .left {
    left: 2rem;
    transform: rotate(180deg);
  }

  .right {
    right: 2rem;
  }
}
