.post {
  h1 {
    margin-bottom: 0.7rem;
  }
  &-hero {
    overflow: hidden;
    min-height: 300px;
    height: 60vh;
    width: 100%;
    margin: 0;
    img {
      min-width: 100%;
      min-height: 100%;
      margin-bottom: 0;
      object-fit: cover;
    }
  }
  &__all-info {
    text-align: center;
    padding: 1.5rem 1.25rem;
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    h1 {
      margin-bottom: 0.66rem;
    }
    h3 {
      margin-bottom: 0;
    }
    time {
      font-size: inherit;
    }
  }
  &__body {
    width: 100%;
    padding: 0 1.25rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    a {
      padding-bottom: 1.5rem;
    }
    :last-child {
      margin-bottom: 0;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      padding: 1.5rem;
      margin-bottom: 1.45rem;
      line-height: 1.2;
    }
    h3 {
      font-size: 1.3rem;
      color: inherit;
    }
    p {
      color: #464646;
      font-weight: normal;
      img {
        padding: 1rem 0;
      }
    }
    ul {
      list-style: initial;
    }
    ul,
    ol {
      margin-left: 1.25rem;
      margin-bottom: 1.25rem;
      padding-left: 1.45rem;
    }
    :last-child {
      margin-bottom: 0;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.25rem;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    justify-content: end;
    h2 {
      margin-bottom: 0;
    }
    a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      svg {
        width: 20px;
      }
    }
  }

  // CSS for making emoji inline
  img.emoji {
    display: inline-block;
    left: 0;
    transform: none;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 768px) {
  .post {
    &__all-info {
      text-align: center;
      padding: 2rem 0;
      h1 {
        max-width: 500px;
        margin: 0 auto 0.66rem auto;
      }
    }
    &-hero {
      min-height: 600px;
      height: 75vh;
      img {
        min-width: 100%;
      }
    }
    &__body {
      max-width: 800px;
      padding: 0 2rem;
      span {
        width: 100%;
        margin: 1.5rem auto;
      }
      ul,
      ol {
        margin-left: 1.5rem;
        margin-bottom: 1.5rem;
      }
    }
    &__footer {
      padding: 2.25rem;
    }
  }
}

@media (min-width: 1440px) {
  .post {
    &-hero {
      height: 70vh;
    }
    &__all-info {
      padding: 3rem 0;
    }
    &__footer {
      padding: 2rem 2rem 3rem 2rem;
    }
  }
}
